<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
  <link rel="stylesheet" href="/srtyle-sheets/profile.css" />
  <link rel="stylesheet" href="/srtyle-sheets/modal.css" />
</head>

<body>
  <!-- The Modal -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <!-- Modal Header -->
      <header class="modal-header">
        <span class="close">&times;</span>
        <h2>
          <%= user.username %>
        </h2>
      </header>

      <!-- Modal Body -->
      <main class="modal-body"></main>

      <!-- Modal Footer -->
      <footer class="modal-footer"></footer>
    </div>
  </div>

  <div class="profile-container">
    <h1>
      <%= user.username %> Profile
    </h1>
    <div class="profile-form">
      <div class="form-group">
        <label>Firstname:</label>
        <span class="userInfo">
          <%= user.firstname %>
        </span>
      </div>
      <div class="form-group">
        <label>Lastname:</label>
        <span class="userInfo">
          <%= user.lastname %>
        </span>
      </div>
      <div class="form-group">
        <label>Username:</label>
        <span class="userInfo">
          <%= user.username %>
        </span>
      </div>
      <div class="form-group">
        <label>Email:</label>
        <span class="userInfo">
          <%= user.email %>
        </span>
      </div>
      <div class="form-group">
        <label style="color: red ; cursor: pointer">Gender:</label>
        <span class="userInfo">
          <%= user.gender %>
        </span>
      </div>
    </div>
    <div class="button-group">
      <button type="button" id="edit-profile" onclick="renderUpdateUser('<%= user.username %>')">Edit Profile</button>
      <button type="button" id="logout" onclick="logOut()">Logout From <%= user.username %>
      </button>
    </div>
  </div>

  <script src="/javascript/profile.js"></script>
  <script src="/javascript/modal.js"></script>
</body>

</html>